.App {
  height: 100vh;
  position: relative;
  overflow:scroll
}
/*
.dropzone {
  position: absolute;
  width:400px;
  height:400px;
  background-color: rgb(83, 180, 83);
  
  top:50%;
  left:50%;
}
.dotted {
  border: 1px dotted black;
}
*/
.box {
  box-sizing: border-box;
  width:200px;
  height:200px;
  border-radius: 10px;
  padding: 10px;
  background-color: yellowgreen;
  transform: translateY(50%);
}